{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block extra_meta %}
	<meta name="description" content="{{ article.summary|striptags }}">

{% if TWITTER_CARD_ACCOUNT %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@{{ TWITTER_CARD_ACCOUNT }}">
	<meta name="twitter:title" content="{{ article.title }}">
	<meta name="twitter:description" content="{{ article.summary|striptags }}">
{% endif %}
{% endblock %}


{% block content %}
	<div class="window-pad">
		<div class="window">
			<div class="title">{{ article.title }}<div class="close"></div></div>
			<div class="content terminal">
				<span style="color: #ffd75f"><b>local</b></span><span style="color: #5f5f5f">@</span><span style="color: #5fd7ff"><b>toaruos.org</b></span> ~<span style="color: #00ff5f;"><b>$</b> </span>
				<span style="float: right; color: #5f5f5f;"><b>[<span style="color: #d7875f;">{{ article.date.strftime("%m/%d") }}</span> <span style="color: #d75f5f">{{ article.date.strftime("%H:%M:%S")}}</span>]</b>&nbsp;</span>
				stat <a href="{{ SITEURL }}/{{ article.url }}">{{ article.url }}</a>
				{% include 'metadata.inc.html' %}
				<span style="color: #ffd75f"><b>local</b></span><span style="color: #5f5f5f">@</span><span style="color: #5fd7ff"><b>toaruos.org</b></span> ~<span style="color: #00ff5f;"><b>$</b> </span>
				<span style="float: right; color: #5f5f5f;"><b>[<span style="color: #d7875f;">{{ article.date.strftime("%m/%d") }}</span> <span style="color: #d75f5f">{{ article.date.strftime("%H:%M:%S")}}</span>]</b>&nbsp;</span>
				cat <a href="{{ SITEURL }}/{{ article.url }}">{{ article.url }}</a>
				{{ article.content }}
				&nbsp;
			</div>
		</div>
	</div>

{% endblock %}
