{% extends "base.html" %}
{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}

{% block extra_meta %}
	<meta name="description" content="{{ article.summary|striptags }}">

{% if TWITTER_CARD_ACCOUNT %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@{{ TWITTER_CARD_ACCOUNT }}">
	<meta name="twitter:title" content="{{ article.title }}">
	<meta name="twitter:description" content="{{ article.summary|striptags }}">
{% endif %}
{% endblock %}

{% block sidebar_top %}
	<div class="window-pad">
		<div class="window">
			<div class="title">Information<div class="close"></div></div>
			<div class="content terminal">
				<a href="{{ SITEURL }}/{{ article.url }}">{{ article.url }}</a>
				{% include 'metadata.inc.html' %}
				&nbsp;
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="window-pad">
		<div class="window">
			<div class="title">{{ article.title }}<div class="close"></div></div>
			<div class="menu-bar"></div>
			<div class="content article">
				{{ article.content }}
			</div>
		</div>
	</div>

{% endblock %}
