{% extends "base.html" %}
{% block title %}{{ author }} - {{ SITENAME }}{% endblock %}

{% block content %}
	<div class="window-pad">
		<div class="window">
			<div class="title">Posts by {{ author }}<div class="close"></div></div>
			<div class="content terminal">
				<span style="color: #ffd75f"><b>local</b></span><span style="color: #5f5f5f">@</span><span style="color: #5fd7ff"><b>toaruos.org</b></span> ~<span style="color: #00ff5f;"><b>$</b> </span>
				ls -l ~{{ author.url.split('/')[1].split('.')[0] }}
				<table>
					{% for article in articles_page.object_list %}
						{% include 'article_link.inc.html' %}
					{% endfor %}
					{% include 'pagination.inc.html' %}
				</table>
				&nbsp;
			</div>
		</div>
	</div>

{% endblock %}
