{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% for article in articles %}
	{% if loop.index == 1 %}
		<div class="window-pad">
			<div class="window">
				<div class="title">{{ article.title }}<div class="close"></div></div>
				<div class="content article">
					{{ article.content }}
					<i><a href="{{ SITEURL }}/{{ article.url }}">Continue reading...</a></i>
				</div>
			</div>
		</div>
		{% if loop.length  > 1 %}
		<div class="window-pad">
			<div class="window">
				<div class="title">More Articles<div class="close"></div></div>
				<div class="content terminal">
					<span style="color: #ffd75f"><b>local</b></span><span style="color: #5f5f5f">@</span><span style="color: #5fd7ff"><b>toaruos.org</b></span> ~<span style="color: #00ff5f;"><b>$</b> </span>
					ls -l
					<table>
		{% endif %}
		{% elif loop.index < 7 %}
				{% include 'article_link.inc.html' %}
		{% endif %}
		{% if loop.index == loop.length %}
					</table>
					&nbsp;
				</div>
			</div>
		</div>
		{% endif %}

{% endfor %}

{% endblock content %}
