{% extends "base.html" %}
{% block title %}{{ page.title }}- {{ SITENAME }}{% endblock %}

{% block content %}
	<div class="window-pad">
		<div class="window">
			<div class="title">{{ page.title }}<div class="close"></div></div>
			<div class="content terminal">
				<span style="color: #ffd75f"><b>local</b></span><span style="color: #5f5f5f">@</span><span style="color: #5fd7ff"><b>toaruos.org</b></span> ~<span style="color: #00ff5f;"><b>$</b> </span>
				cat {{page.url}}
				{{ page.content }}
				&nbsp;
			</div>
		</div>
	</div>

{% endblock %}
